<!DOCTYPE html>
<html>
<head>
    <title>3M Motorbike Spares</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'products/css/styles.css' %}">
</head>
<body>
    <header>
        <div class="container">
            <h1>3M Motorbike Spares</h1>
            <div class="search-bar">
                <input type="text" placeholder="Search for products...">
            </div>
        </div>
    </header>
    <div class="slider">
        <img src="{% static 'products/img/slider2.jpg' %}" alt="Slider Image">
    </div>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <script>
        // JavaScript for changing header background on scroll
        window.addEventListener('scroll', function() {
            const header = document.querySelector('header');
            if (window.scrollY > 0) {
                header.classList.add('scrolled');
            } else {
                header.classList.remove('scrolled');
            }
        });
    </script>
</body>
</html>
