{% extends 'products/base.html' %}


{% block content %}
    <main>
        <div class="products-grid">
            {% for product in products %}
            <div class="product-card">
                <a href="{% url 'product_detail' product.pk %}">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    <h3>{{ product.name }}</h3>
                    <p>{{ product.price }}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    </main>

{% endblock %}