
{% extends 'products/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="container">
        <!-- Slider Section -->
        <div class="slider">
            <img class="w-full max-h-500px" src="{% static 'products/img/slider.jpg' %}" alt="Slider Image">
        </div>

        <!-- Three Picture Section -->
        <div class="cards">
            <div class="card">
                <img src="{% static 'products/img/left-banner.jpg' %}" alt="Product 1">
                <div class="content">
                    <button>Buy Now</button>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'products/img/center.jpg' %}" alt="Product 2">
                <div class="content">
                    <button>Buy Now</button>
                </div>
            </div>
            <div class="card">
                <img src="{% static 'products/img/right-banner.jpg' %}" alt="Product 3">
                <div class="content">
                    <button>Buy Now</button>
                </div>
            </div>
        </div>

        <h2>Featured Products</h2>

        <!-- Filters Section -->
        <div class="filters">
            <div class="filter-type">
                <h4>Filter by Type</h4>
                <div class="type-buttons">
                    <button data-type="all">All</button>
                    <button data-type="boxer">Boxer</button>
                    <button data-type="bajaj">Bajaj</button>
                    <button data-type="tvs">TVS</button>
                </div>
            </div>
            <div class="filter-parts">
                <h4>Filter by Parts</h4>
                <div class="parts-buttons">
                    <button data-category="engine">Engine Parts</button>
                    <button data-category="body">Body Parts</button>
                    <button data-category="wheel">2 Wheel Parts</button>
                    <button data-category="lighting">Headlights & Lighting</button>
                </div>
            </div>
        </div>

        <!-- Products Grid Section -->
        <div class="products-grid" id="data-container">

            <!--=================================== Boxer Products ============================================-->

            <div class="product-card" data-type="boxer" data-category="engine">
                <img src="{% static 'products/img/engine/Oil-Filter-Boxer-150.jpg' %}" alt="Oil-filter">
                <div class="product-info">
                    <h3>Oil-Filter-Boxer-150</h3>
                    <p>Ksh 150</p>
                </div>
                <button class="add-to-cart">+</button>
                <button class="add-to-favorite">♡</button>
            </div>

            <div class="product-card" data-type="boxer" data-category="engine">
                <img src="{% static 'products/img/engine/Valve-Set.jpg' %}" alt="Valve">
                <div class="product-info">
                    <h3>Valve-Set</h3>
                    <p>Ksh 400</p>
                </div>
                <button class="add-to-cart">+</button>
                <button class="add-to-favorite">♡</button>
            </div>

            <div class="product-card" data-type="boxer" data-category="engine">
                <img src="{% static 'products/img/engine/Piston.jpeg' %} " alt="Piston">
                <div class="product-info">
                    <h3>Piston</h3>
                    <p>Ksh 1000</p>
                </div>
                <button class="add-to-cart">+</button>
                <button class="add-to-favorite">♡</button>
            </div>

            <div class="product-card" data-type="boxer" data-category="body">
                <img src="{% static 'products/img/body/Main-Stand.jpg' %}" alt="Gear Leaver">
                <div class="product-info">
                    <h3>Main-Stand</h3>
                    <p>$300</p>
                </div>
                <button class="add-to-cart">+</button>
                <button class="add-to-favorite">♡</button>
            </div>

            <div class="product-card" data-type="boxer" data-category="wheel">
                <img src="{% static 'products/img/wheel/Drum-Rubber.jpg' %}" alt=" Brake-Shoe-Boxer">
                <div class="product-info">
                    <h3>Drum Rubber</h3>
                    <p>Ksh 200</p>
                </div>
                <button class="add-to-cart">+</button>
                <button class="add-to-favorite">♡</button>
            </div>

            <div class="product-card" data-type="boxer" data-category="wheel">
                <img src="{% static 'products/img/wheel/Half-Axle.jpg' %}" alt=" Brake-Shoe-Boxer">
                <div class="product-info">
                    <h3>Half Axle</h3>
                    <p>Ksh 200</p>
                </div>
                <button class="add-to-cart">+</button>
                <button class="add-to-favorite">♡</button>
            </div>

            <!--=================================== Bajaj Products ================================================-->

            <div class="product-card" data-type="bajaj" data-category="engine">
                <img src="{% static 'products/img/engine/Clutch-Boss.jpg' %}" alt="Clutch-Boss">
                <div class="product-info">
                    <h3>Clutch Boss</h3>
                    <p>Ksh 1000</p>
                </div>
                <button class="add-to-cart">+</button>
                <button class="add-to-favorite">♡</button>
            </div>

            <div class="product-card" data-type="bajaj" data-category="engine">
                <img src="{% static 'products/img/engine/Gear-Shaft.jpg' %}" alt="Gear-shaft">
                <div class="product-info">
                    <h3>Gear Shaft</h3>
                    <p>Ksh 1000</p>
                </div>
                <button class="add-to-cart">+</button>
                <button class="add-to-favorite">♡</button>
            </div>

            <div class="product-card" data-type="bajaj" data-category="body">
                <img src="{% static 'products/img/body/Accelerator-Pipe.jpg' %}" alt="Accelerator-pipe">
                <div class="product-info">
                    <h3>Accelerator Pipe</h3>
                    <p>Ksh 200</p>
                </div>
                <button class="add-to-cart">+</button>
                <button class="add-to-favorite">♡</button>
            </div>

            <div class="product-card" data-type="bajaj" data-category="body">
                <img src="{% static 'products/img/body/Swing-Arm-Bush.jpg' %}" alt="Swing-Arm-Bush">
                <div class="product-info">
                    <h3>Swing Arm Bush</h3>
                    <p>Ksh 200</p>
                </div>
                <button class="add-to-cart">+</button>
                <button class="add-to-favorite">♡</button>
            </div>

            <div class="product-card" data-type="bajaj" data-category="wheel">
                <img src="{% static 'products/img/wheel/Brake-Rod.jpg' %}" alt="Brake Rod">
                <div class="product-info">
                    <h3>Brake Rod</h3>
                    <p>Ksh 200</p>
                </div>
                <button class="add-to-cart">+</button>
                <button class="add-to-favorite">♡</button>
            </div>

            <!--=========================================== TVS Products =============================================-->

            <div class="product-card" data-type="tvs" data-category="engine">
                <img src="{% static 'products/img/engine/Clutch-Plate-Boxer-150.jpg' %}" alt="Clutch Plate">
                <div class="product-info">
                    <h3>Clutch Plate</h3>
                    <p>Ksh 500</p>
                </div>
                <button class="add-to-cart">+</button>
                <button class="add-to-favorite">♡</button>
            </div>

            <div class="product-card" data-type="tvs" data-category="engine">
                <img src="{% static 'products/img/engine/Chain-Tensioner.jpg' %}" alt="Chain Tensioner">
                <div class="product-info">
                    <h3>Chain Tensioner</h3>
                    <p>Ksh 500</p>
                </div>
                <button class="add-to-cart">+</button>
                <button class="add-to-favorite">♡</button>
            </div>

             <div class="product-card" data-type="tvs" data-category="wheel">
                <img src="{% static 'products/img/wheel/Brake-Shoe-Boxer-150.jpg' %}" alt=" Brake-Shoe-Boxer">
                <div class="product-info">
                    <h3> Brake Shoe</h3>
                    <p>Ksh 200</p>
                </div>
                <button class="add-to-cart">+</button>
                <button class="add-to-favorite">♡</button>
            </div>

            <div class="product-card" data-type="tvs" data-category="body">
                <img src="{% static 'products/img/body/Cup-Cone-Set.jpg' %}" alt="Cup-cone-set">
                <div class="product-info">
                    <h3>Cup cone set</h3>
                    <p>Ksh 300</p>
                </div>
                <button class="add-to-cart">+</button>
                <button class="add-to-favorite">♡</button>
            </div>

            <div class="product-card" data-type="tvs" data-category="lighting">
                <img src="{% static 'products/img/lighting/Blinker-Assy.jpg' %}" alt="Blinker-Assy">
                <div class="product-info">
                    <h3>Blinker-Assy</h3>
                    <p>Ksh 300</p>
                </div>
                <button class="add-to-cart">+</button>
                <button class="add-to-favorite">♡</button>
            </div>

            <div class="product-card" data-type="tvs" data-category="wheel">
                <img src="{% static 'products/img/wheel/Speedometer -Worm-Set.jpg' %}" alt=" Brake-Shoe-Boxer">
                <div class="product-info">
                    <h3>Speedometer Worm Set</h3>
                    <p>Ksh 200</p>
                </div>
                <button class="add-to-cart">+</button>
                <button class="add-to-favorite">♡</button>
            </div>

        </div>
    </div>
</main>

{% endblock %}


